body {
    margin: 0;
    background-color: #557A95;
}

/* navigation bar */
.topnav {
    overflow: hidden;
    background-color: #5D5C61;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #B1A296;
    color: white;
}

.topnav a.active {
    background-color: #B1A296;
    color: white;
}

/* home section */
.home-section {
    text-align: center;
    padding: 300px;
    transform: translate(-50, -50);
    color: white;
}

/* about section */
.about-section {
    text-align: center;
    padding: 275px;
    background-color: #7593AE;
    color: white;
}